<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-box-seam"></i>
            Quản lý sản phẩm
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house"></i> Trang chủ
                    </a>
                </li>
                
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="suppliersDropdown" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-building"></i> Nhà cung cấp
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/suppliers">Danh sách</a></li>
                            <li><a class="dropdown-item" href="/suppliers/new">Thêm mới</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-box"></i> Sản phẩm
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/products">Danh sách</a></li>
                            <li><a class="dropdown-item" href="/products/new">Thêm mới</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/products/statistics">Thống kê</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
            
            <!-- Search form -->
            <form class="d-flex me-3" action="/search" method="GET">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Tìm kiếm..." name="q" value="<%= locals.query?.q || '' %>">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            
            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i>
                            <%= user.username %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <span class="dropdown-item-text text-muted">
                                    <small><%= user.email %></small>
                                </span>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form action="/auth/logout" method="POST" class="d-inline">
                                    <button type="submit" class="dropdown-item">
                                        <i class="bi bi-box-arrow-right"></i> Đăng xuất
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">
                            <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">
                            <i class="bi bi-person-plus"></i> Đăng ký
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>