<%- contentFor('body') %>
<div class="container py-4">
    <div class="text-center">
        <h1>Liên hệ</h1>
        <p class="lead">Thông tin liên hệ hỗ trợ</p>
        
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="bi bi-envelope"></i> Email</h5>
                        <p>support@example.com</p>
                        
                        <h5><i class="bi bi-telephone"></i> Điện thoại</h5>
                        <p>0123 456 789</p>
                        
                        <h5><i class="bi bi-geo-alt"></i> Địa chỉ</h5>
                        <p>123 Đường ABC, Quận XYZ, TP.HCM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>